<body class="tijera">
    
    <div>
    
    <br><br><br>
    <h1 class="center1">EDITAR EL CUADRO DE PRODUCCIÓN</h1> <br>
    <br>

<%= render 'form' %>



<%= link_to "<i class='fa fa-eye fa-4x encima'></i>".html_safe, ordenproduccion_cuadroproduccion_path(@ordenproduccion, @cuadroproduccion) %> |
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_cuadroproduccions_path %>
</div>
</body>