<h1 class="center">Nuevo Cuadro de Produccion</h1><br>

<%= render 'form' %>

<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, descripcioncorte_cuadroproduccions_path(@descripcioncorte) %> 
