<body class="tijera">
    <br><br>

<h1 class="center1">NUEVO CUADRO DE PRODUCCIÓN</h1><br>

<br><br><br>

<%= render 'form' %>

<br><br>

<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_cuadroproduccions_path(@ordenproduccion) %> 

</body>