<h1 class="center">Editar orden de produccion</h1>
<br><br>

<%= render 'form' %>
<br><br>
<%= link_to "<i class='fa fa-eye fa-4x encima'></i>".html_safe, @ordenproduccion %> |
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path %>
