


<body class="aguja footer_tuto1">
    <h1 class="center"><b>EDICIÓN DE ORDEN</b></h1>
<br><br>

<%= render 'form' %>
<br><br>
<div class="col-md-5">
</div>
<div class="col-md-5">



</div>

<div class="col-md-2">

<%= link_to "<i class='fa fa-eye fa-4x encima'></i>".html_safe, @ordenproduccion %> 
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path %>

</div>
</body>