

<body class="agujaa footer_tuto">

        <h1 class="center"><b>NUEVA ORDEN</b></h1>
<br>

<div class="">
	<div class="col-md-12">
		
<div class="col-md-1"></div>
<div class="col-md-10">
	
<%= render 'form' %>
</div>
<div class="col-md-1"></div>

<h4 class="center">
	<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path %>

</h4>

	</div>
</div>


</body>