

<body class="agujaa footer_tuto">

        <h1 class="center"><b>NUEVA ORDEN</b></h1>
<br>

<div class="">
	
<%= render 'form' %>

</div>


<div class="col-md-5">
</div>
<div class="col-md-5">



</div>

<div class="col-md-2">
<h4 class="center">
	<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path %>

</h4>

</div>

</body>