

<body class="homepage footer_welcome"><br><br>
 <div class="container">
 	
<br>
<br>
<br>

 <div class="wrapper-indieandcool">
  <br>
 
  <h1 class="zur1">Centro de Formación en Diseño Confección y Moda</h1>
  
  <%=link_to image_tag("senabb.png", class:"animated rubberBand").html_safe, ordenproduccions_path%>

  
  
  <br></br>
  <br></br>
  <br></br>


  
  
</div>
 </div>
</body>

