

<body class="homepage">
 <div class="wrapper-indieandcool">
  <h1>Bienvenidos</h1>
  <h2 class="descripcion">Encuentra lo que necesitas, de los mejores diseñadores.</h2>
  <a href="#" class="btn-indies">HOMBRE</a>
  <a href="#" class="btn-indies">MUJER</a>
</div>
</body>