

<body class="homepage">
 <div class="wrapper-indieandcool">
  <h1 class="bien">Bienvenidos</h1>
  <h2 class="descripcion">Encuentra lo que necesitas, de los mejores diseñadores.</h2>
  <%= link_to "Ordenes de Produccion".html_safe, ordenproduccions_path, class:'btn-indies'%>
  
  
</div>
</body>