

<body class="homepage footer_welcome"><br><br>
 <div class="wrapper-indieandcool">
  <br>
  <h1 class="bien">Control de la producci칩n</h1>
  <%=image_tag("senab.png")%> <br><br><br><br>
  <h2 class="descripcion">centro de formaci칩n en dise침o, confecci칩n y moda</h2><br>
  <br></br>
  <br></br>
  <br></br>

 

  
  <i class="fa fa-chevron-down fa-4x"></i>

  
  
</div>
</body>