

<body class="homepage footer_welcome"><br><br>
 <div class="wrapper-indieandcool">
  <br>
 
  <h1 class="center1">Centro de Formación en Diseño Confección y Moda</h1>
  
  <%=link_to image_tag("senabb.png", class:"questo11 animated rubberBand").html_safe, ordenproduccions_path%>

  
  
  <br></br>
  <br></br>
  <br></br>


  
  
</div>
</body>

