

<body class="homepage footer_welcome"><br><br>
 <div class="wrapper-indieandcool">
  <br>
  <h1 class="bien">Control de la Producci칩n</h1>
  
  
   
  <%=image_tag("senab.png", class:"questo")%>

  
  <br><br><br><br>
  <h2 class="descripcion">Centro de Formaci칩n en Dise침o, Confecci칩n y Moda</h2><br>
  <br></br>
  <br></br>
  <br></br>

 

  
  <i class="fa fa-chevron-down fa-4x animated rubberBand"></i>


  
  
</div>
</body>

