<h1 class="center">Editar La Descripcion de Corte</h1><br>


<%= render 'form' %>

<%= link_to "<i class='fa fa-eye fa-4x encima'></i>".html_safe, ordenproduccion_descripcioncorte_path(@ordenproduccion, @descripcioncorte) %> |
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_descripcioncortes_path %>
