<h1>Editing descripcioncorte</h1>

<%= render 'form' %>

<%= link_to 'Show', ordenproduccion_descripcioncorte_path(@ordenproduccion, @descripcioncorte) %> |
<%= link_to 'Back', ordenproduccion_descripcioncortes_path %>
