<h1>Editar Orden Tercero</h1>

<%= render 'form' %>

<%= link_to "<i class='fa fa-eye fa-2x encima'></i>".html_safe, ordenproduccion_descripcioncorte_path(@ordenproduccion, @descripcioncorte) %> |
<%= link_to "<i class='fa fa-arrow-circle-left fa-2x'></i>".html_safe, ordenproduccion_descripcioncortes_path %>
