
<body class="homepageesh footer_tuto">
    <h1 class="center1">Nueva descripcion </h1>
<br><br>

<%= render 'form' %>

<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_descripcioncortes_path(@ordenproduccion) %>

</body>