<p id="notice"><%= notice %></p>

<p>
  <strong>Procesonombre:</strong>
  <%= @proceso.procesonombre %>
</p>

<%= link_to 'Edit', edit_proceso_path(@proceso) %> |
<%= link_to 'Back', procesos_path %>
