<!DOCTYPE html>
<html>
<head>
  <title>ControlProduccion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if @home_page == true %>
<body class="homepagee">
	<% end %>
<div class="container">
	<div class="row">
		
<%= yield %>
	</div>
</div>

</body>
</html>
